        body	{
                        margin:0px 0px 10px 0px;
                        background:#ffffff;
			font-family:optima, verdana, arial, sans-serif;
			line-height:1.2em;
		}

	A 		{ color: #006600; text-decoration: none; font-weight:bold; }
	A:link		{ color: #006600; text-decoration: none; } 
	A:visited	{ color: #003300; text-decoration: none; } 
	A:hover		{ background-color: #006600; color: #ffffff; }
	A.banner:link	{ color: #ffffff; }
	A.banner:visited{ color: #ffffff; }
	A.banner:hover	{ color: #003300; }

	#main_content {
		width: 75%;
		}

	#navigation {
		width: 25%;
		float: right;
		}
	
	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
		}

	font {
		font-family: optima, verdana, arial, sans-serif;
		font-size: 1.1em;
		}

	blockquote {
		font-family: courier, serif;
		}

	.moreinfo {
		background-image: url(http://homepage.mac.com/simx/images/more_info_small.png);
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: bottom right;
		border: 2px solid #D9D9D9;
		}

	.comments_iframe {
		overflow: visible;
		width: 100%;
		height: auto;
		}


	.stylesheet_buttons {
		z-index: 3;
		height: 26px;
		border: 1px solid #003300;
		position: fixed;
		width: 104px;
		right: 20px;
		top: 12px;
		background-color: #ffffff;
		padding: 0px;
		}

	img.stylesheet_button {
		margin: 5px;
		padding: 0px;
		border: 0px;
		}

	img {
		margin: 1em;
		}

	img.badge {
		margin: 0em;
		}

	hr.centered {
		text-align: center;
		width: 75%;
		}

	.centered-text {
		text-align: center;
	}

	.left-aside {
		width: 250px;
		float: left;
		margin: 10px 15px 10px 0px;
		padding: 10px;
		border: 1px solid black;
		text-align: justify;
		font-size: 9px;
		line-height: 13px;
		font-family: monaco;
		background: #E5E5E5 url(http://homepage.mac.com/simx/.Pictures/aside.png) no-repeat center center;
	}

	.right-aside {
		width: 250px;
		float: right;
		margin: 10px 0px 10px 15px;
		padding: 10px;
		border: 1px solid black;
		text-align: justify;
		font-size: 9px;
		line-height: 13px;
		font-family: monaco;
		background: #E5E5E5 url(http://homepage.mac.com/simx/.Pictures/aside.png) no-repeat center center;
	}

	.blue_badge {
		display: none;
		}

	#banner {
		font-family:century gothic, optima, verdana, arial, sans-serif;
		color:#ffffff;
		font-size:x-large;
		font-weight:normal;
  		background:#006600;
                padding:15px;
  		text-transform: uppercase;
		letter-spacing: .2em; 	
		position: fixed;
		width: 100%;
		height: 15px;
		z-index: 2;	
		line-height:1em;
		}

	.topfade {
		width: 100%;
		position: fixed;
		top: 45px;
		z-index: 1;
		height: 25px;
		background: url(http://homepage.mac.com/simx/images/faded-top-green.png) repeat-x;
		}

	.description {
		font-family:verdana, arial, sans-serif;
		color:#ffffff;
		font-size:x-small;
		font-weight:bold;
  		background:#000000;	
  		text-transform:none;
		letter-spacing: normal; 		
		}	
				
	#links {
                padding-right:10px;	
                padding-left:10px;
		background:#ffffff;	
		position: relative;
		top: 5em;	
		border-left: 1px solid #006600;
		}
		
	.blog {
  		padding-left:1em;
  		padding-top:1em;
  		padding-right:1em;
		padding-bottom:2em;	
		position: relative;
		top: 5em;		
		}	
	
	.blogbody {
		font-family:optima, verdana, arial, sans-serif ! important;
		color:#000000;
		font-size:small;
		font-weight:normal;
  		background:#ffffff;
  		padding:10px;
  		margin-bottom:3em;
		}


	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
		}
	
        #container {
                position:relative;
		width:95%;
		background:#ffffff;
                margin-bottom:20px;
		}

	.category_image {

		}

	.banner_category_image {
		float: left;
		position: relative;
		top: -1em;
		left: -1em;
		margin-right: -1em;
		}
                
	.title	{ 
		font-family: optima, verdana, arial, sans-serif; 
		font-size: large; 
		color: #000000; 
		text-transform: uppercase;
		font-weight:bold;
		margin-bottom:0px;
		padding-bottom:0px;	
		}
	
	.abstract {	
		font-family:optima, verdana, arial, sans-serif ! important;
		color:#000000;
		font-size:small;
		font-style:italic;
  		background:#ffffff;
		}		
		
	.date	{ 
		font-family:optima, verdana, arial, sans-serif; 
		font-size: small; 
		color: #000000; 
		padding:5px 5px 0px 5px;
		margin-bottom:0.5em;
		font-weight:bold;
		text-align:right;
		}			
		
	.side {
		font-family:optima, verdana, arial, sans-serif;
		color:#000000;
		font-size:small;
		font-weight:normal;
  		line-height:140%;
  		padding:2px;
		margin-bottom:20px;	
		}	
		
	.sidetitle {
		font-family:optima, verdana, arial, sans-serif;
		color:#000000;
		font-size:small;
		font-weight:bold;
  		background:#ffffff;
  		line-height:140%;
  		padding:2px;
  		margin-top:10px;
  		text-align:center;
  		text-transform:uppercase;
		letter-spacing: .2em;  					
		}		
	
        .calendar {
		font-family:optima, verdana, arial, sans-serif;
		color:#000000;
		font-size:small;
		font-weight:normal;
  		line-height:140%;
  		padding:2px;
  		text-align:center;	
		}
	
	.calendarhead {	
		font-family:optima, verdana, arial, sans-serif;
		color:#000000;
		font-size:small;
		font-weight:bold;
  		line-height:140%;
  		padding:2px;				
		}	

        .calendar_day_header {
		font-family:optima, verdana, arial, sans-serif;
		color:#000000;
		font-size:x-small;
		font-weight:normal;
  		line-height:140%;
		width:27px;
		text-align:center;	
		}
                
        .footer {
		margin-top: 20px;
		padding-top: 20px;
		font-family:verdana, arial, sans-serif;
		font-size:x-small;
                }

	.abf-fixed {
		background-color: #80FF80;
		}

	.abf-not-fixed {
		background-color: #FF8080;
		}

	.abf-maybe-fixed {
		background-color: #C0FFC0;
		}

	.abf-partially-fixed {
		background-color: #FFFF80;
		}

	.abf-state-open {
		background-color: white;
		}

	.abf-state-info {
		background-color: #FF8080;
		}

	.abf-state-closed {
		background-color: #C0C0FF;
		}

	.abf-state-duplicate {
		background-color: #8080FF;
		}